body {
    background-color: lightgreen;
  }
  <!-- I want my About, Contact, and Home page to be sectioned off clearly. -->
  h1 {
    color: navy;
    margin-left: 20px;
    border-style: solid;
    border-color: black;
    width: 120px;
  }
  p{
    text-align: left;
    color: darkgreen;
    border-style: solid;
    border-color: black;
  }
  div {
    width:300px;
    text-align: left;
  }
  img{
    height: 300px;
    width: 230px;
  }