body {
    background-color: lightblue;
  }
  <!-- I want my About, Contact, and Home page to be sectioned off clearly. -->
  h1 {
    color: navy;
    margin-left: 20px;
    border-style: solid;
    border-color: black;
    width: 120px;
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
  form {
    margin: 0 auto; /* Centers the form horizontally */
    width: 50%; /* Sets the form's width to 50% of the container */
    padding: 20px; /* Adds some padding inside the form */
}
/* I wanted to center the form. */
