body {
    background-color: rgb(216, 138, 124);
  }

  h1 {
    color: maroon;
    background-color: salmon;
    border-style: solid;
    border-color: black;
    width: 120px;
  }
  p {
    text-align: center;
    color: yellow;
  }
  